// Import core styles
@import '../../node_modules/@tweakpane/core/lib/sass/plugin';

.#{$prefix}-rotationv {
  position: relative;

  &_root {
    background-color: var(--mo-bg);
    width: 100%;
    height: calc( 2.0 * var(--bld-us) );
  }

  &_h {
    display: flex;
  }

  &_s {
    flex-grow: 0;
    flex-shrink: 0;
    width: var(--bld-us);
    margin-right: 4px;
  }

  &_g {
    height: 0;
    margin-top: 0;
    opacity: 0;
    overflow: hidden;
    transition: height $fold-transition-duration ease-in-out,
      opacity $fold-transition-duration linear,
      margin $fold-transition-duration ease-in-out;
  }

  &#{&}-expanded &_g {
    margin-top: var(--bld-s);
    opacity: 1;
  }

  .#{$prefix}-popv {
    left: calc(-1 * var(--cnt-h-p));
    right: calc(-1 * var(--cnt-h-p));
    top: var(--bld-us);
  }
}

.#{$prefix}-rotationswatchv {
  &_sw {
    background-color: var(--btn-bg);
    border-radius: var(--elm-br);
    box-sizing: border-box;
    color: var(--in-fg);
    font-family: inherit;
    height: var(--bld-us);
    line-height: var(--bld-us);
    min-width: 0;
    width: 100%;
  }

  &_b {
    appearance: none;
    background-color: transparent;
    border-width: 0;
    cursor: pointer;
    display: block;
    height: var(--bld-us);
    left: 0;
    margin: 0;
    outline: none;
    padding: 0;
    position: absolute;
    top: 0;
    width: var(--bld-us);
  }
}

.#{$prefix}-rotationgizmov {
  padding-left: calc(var(--bld-us) + 4px);

  path {
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  &_p {
    @extend %input;

    cursor: move;
    height: 0;
    overflow: hidden;
    padding-bottom: 100%;
    position: relative;
  }

  &_g {
    display: block;
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &_axisx {
    stroke: #eb103f;
    stroke-width: 2px;
  }

  &_axisy {
    stroke: #4eeb10;
    stroke-width: 2px;
  }

  &_axisz {
    stroke: #1068eb;
    stroke-width: 2px;
  }

  &_arcx {
    fill: none;
    stroke: var(--in-fg);

    &#{&}_hover {
      stroke: #eb103f;
    }

    &#{&}_active {
      stroke: #eb103f;
      stroke-width: 2px;
    }
  }

  &_arcy {
    fill: none;
    stroke: var(--in-fg);

    &#{&}_hover {
      stroke: #4eeb10;
    }

    &#{&}_active {
      stroke: #4eeb10;
      stroke-width: 2px;
    }
  }

  &_arcz {
    fill: none;
    stroke: var(--in-fg);

    &#{&}_hover {
      stroke: #1068eb;
    }

    &#{&}_active {
      stroke: #1068eb;
      stroke-width: 2px;
    }
  }

  &_arcr {
    fill: none;
    stroke: var(--in-fg);

    &#{&}_hover {
      stroke: #ebd510;
    }

    &#{&}_active {
      stroke: #ebd510;
      stroke-width: 2px;
    }
  }

  &_arcc {
    fill: none;
    stroke: transparent;
    stroke-width: 5px;
    pointer-events: auto;
  }

  &_labelcirclex {
    fill: #eb103f;
    cursor: pointer;
    pointer-events: auto;

    &:hover {
      fill: #970b29;
    }
  }

  &_labelcircley {
    fill: #4eeb10;
    cursor: pointer;
    pointer-events: auto;

    &:hover {
      fill: #308f0b;
    }
  }

  &_labelcirclez {
    fill: #1068eb;
    cursor: pointer;
    pointer-events: auto;

    &:hover {
      fill: #0a3b85;
    }
  }

  &_labeltext {
    fill: var(--btn-fg);
  }

  &_p:focus &_m {
    background-color: var(--in-fg);
    border-width: 0;
  }
}
